header {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  align-items: center;
  background-color: #7ed809;
  border-bottom: 1px solid #e0e0e0;
}
  
header .avatar-container img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
  
header h2 {
  margin: 0;
  margin-left: 30px;
  font-size: 32px;
  color: #343a40;
}
